.container{
    width: 450px;
    height: 300px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    overflow: hidden;
    position: relative;
}
.container img{
    width: inherit;
    height: inherit;
    transition: all 0.5s;
    transform: translateX(50%);
}
.container:hover img{
    transform: translateX(0%);
}
.container .content{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg,blueviolet,deeppink);
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transform:translateX(0%);
    transform-origin: left;
    transition: all 0.5s;
}
.container .content p{
    font-size: 18px;
}
.container:hover .content{
    transform:translateX(-100%);
}